{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    <form method="post" class="FormUser">
        <h1>Se connecter</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="FormPart">
            <label for="inputEmail">Mél : </label>
            <input type="email" name="email" id="inputEmail" value="{{ last_username }}" required autofocus>
        </div>
        <div class="FormPart">
            <label for="inputPassword">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" required>
        </div>
        <div class="FormPart">
            <label>
                <input type="checkbox" name="_remember_me" class="form-check-input"> Se souvenir de moi
            </label>
        </div>
        <button class="SubmitButton" type="submit">Se Connecter</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}