{% extends 'base.html.twig' %}

{% block title %}{{ question }}{% endblock %}

{% block navi %}{% endblock %}

{% block body %}
    <h2>Answers {{ answers | length }}</h2>

    <ul>
        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}{% endblock %}
