{% extends "base.html.twig" %}

{% block title %}Bibliothèque{% endblock %}

{%  block body %}
    <h1>Bibliothèque</h1>
    <p>Ci-dessous, la liste de tous les jeux</p>
    <a href="{{ path("SearchGames") }}">Rechercher des jeux</a>
    {% for game in games %}
        <div class="GamesInList">
            <h2>{{ game.title }}</h2>
            <p>{{ game.dlNumber }} téléchargement{% if game.dlNumber > 1 %}s{% endif %}.</p>
            <a href="{{ path("game", {id:game.id}) }}">Voir plus sur ce jeu.</a>
        </div>
    {% endfor %}
{% endblock %}