{# '/template/index.html.twig' #}

{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <h1>Bienvenue sur STeAM</h1>
    <p>Voilà les jeux les plus récents : </p>
    {% for game in games|slice(games|length-5, games|length) %}
        <div class="GamesInList">
            <h2>{{ game.title }}</h2>
            <p>{{ game.downloaders|length }} téléchargement{% if game.downloaders|length > 1 %}s{% endif %}.</p>
            <a href="{{ path("game", {id:game.id}) }}">Voir plus sur ce jeu.</a>
        </div>
    {% endfor %}
    <p></p>
    <p></p>
    <a href="{{ path("allGames") }}">Voir la bibliothèque de jeux</a>
{% endblock %}